<h2><%= flash[ :notice] %></h2>
<p>title:</p>
<span><%= @book.title %></span>

<p>body:</p>
<span><%= @book.body %></span>


<span><%= link_to "Edit", edit_book_path(@book.id) %></span>
<span>|</span>
<span><%= link_to "Back", '/books' %></span>