<h3 class="success-message"><%= flash[ :notice] %></h3>

<div class="title-content">
 <span>title:</span>
 <span><%= @book.title %></span>
</div>

<div class="body-content">
 <span>body:</span>
 <span><%= @book.body %></span>
</div>

<div class="button">
 <span><%= link_to "Edit", edit_book_path(@book.id) %></span>
 <span>|</span>
 <span><%= link_to "Back", '/books' %></span>
</div>